*{
    padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.forget-password-container{
    background-color: var(--MildBlue);
}
.forget-password-container form{
     width: 31.25rem;
    height: 22.125rem;
    background-color: var(--whitebg);
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    img{
        width: 276px;
        height: 60px;
    }
}

.forget-password-container  form div:last-child{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    label{
          width: 100%;
                display: flex;
                gap: 18px;
                flex-direction: column;
font-family: var(--headdingFontfamily);
font-weight: 500;
font-size: 18px;

    }

    input{
         width: 100%;
    border-radius: 10px;
    height: 45px;
    font-size: 14px;
    border: 1.5px solid var( --color-border);
    padding: 12px;
    outline: none;
    color: var(--color-input);
    background-color: transparent;
    }
    input:focus{
        border: 1.5px solid var(--color-accent);

}

    .forget-pass-proceed-btn{
          padding: 16px 24px;
          width: 100%;
color: white;
background-color: var(--color-accent);
border-radius: 10px;
border: none;
margin-top: 10px;
    }
}
