*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
.newpass-Page-Container{
    background-color: var(--MildBlue);
}
.newpass-form{
    width: 31.25rem;
    height: 31.5rem;
    background-color:var(--whitebg);
    border-radius: 20px;

    form{
        width: 100%;
        position: relative;
        height: 100%;
        padding: 40px;
        font-family: var( --headdingFontfamily);
        display: flex;
        flex-direction: column;
        gap: 48px;
        div:first-child{
        img{
            width: 276px;
            height: 60px;
        }}

        .invoice-newpass-form-group{   
            display: flex;
            flex-direction: column;
            gap: 32px;  
            label{
                width: 100%;
                display: flex;
                gap: 18px;
                flex-direction: column;
font-family: var(--headdingFontfamily);
font-weight: 500;
font-size: 18px;
font-style: bold;

img{
    left: 90%;
    top: 65%;
    cursor: pointer;
}

input{
    width: 100%;
    border-radius: 10px;
    height: 45px;
    font-size: 14px;
    border: 1.5px solid var( --color-border);
    padding: 12px;
    outline: none;
    color: var(--color-input);
    background-color: var(--whitebg);
}
input:focus{
        border: 1.5px solid var(--color-accent);
}
}
        }
        p{
            font-size:16px;
            font-weight: 600;
            color: var( --color-accent);
            font-family: var(--headdingFontfamily);
            cursor: pointer;
            position: absolute;
            top: 75%;
            width: 100%;
            left: 64%;
            font-style: bold;
        }
       .log-btn{
            padding: 16px 24px;
color: white;
background-color: var(--color-accent);
border-radius: 10px;
border: none;
margin-top: 10px;
        }
    }
}
.new-pass-icon{
img{
    top: 100%;
}
}