.new-customer-heading{
    font-weight: 600;
    font-size: 20px;
    color: var(--color-black);
    display: flex;
    align-items: center;
    gap: 0.2%;
    cursor: pointer;
    text-decoration: none;
}

.New-Customer-form{
    width: 100%;
    padding: 1rem 0.5rem;
}
.customer-type-label,.enter-gst-num-label,.new-customer-form-input-label{
    font-weight: 600;
    size: 16px;
}
.customer-type-radio-buttons{
    font-weight: 600 ;
    size: 14px ;
}
.newcustomer-form-row{
    display: flex;
    gap: 0rem;
    align-items: center;
}
.newcustomer-form-row-right-pan{
width: 48%;

}
.newcustomer-form-row-left-pan{
width: 48%;
display: flex;
flex-direction: column;
justify-content: center;
gap: 0.75rem;
padding-top: 0.75rem;
}
.gst-fetch-input-cont{display: flex; align-items: center;gap: 0.5rem;}
.gst-fetch-input-cont button{
border: none;
background-color: var(--color-accent);
color: white;
font-weight: 700;
font-size: 14px;
color: var(--whitebg);
padding: 8px 20px;
border-radius: 4px;
}
.gst-fetch-input-cont input{
    width: 12.5rem;
    height: 2.313rem;
    padding: 8px 12px;
    border: 1px solid var(--color-border);
    background-color: transparent;
    border-radius: 4px;
    outline: none;
}
.New-Customer-form input:focus{border: 1px solid var(--color-accent);}
.New-Customer-form input::placeholder{font-weight: 400;font-size: 14px;}
.customer-form-customer-info{
    padding: 2rem 0rem 1rem 0rem; 
    .cust-mer-info-label{font-weight: 600;font-size: 20px;color: var(--color-accent);}
}
.customer-form-customer-info input{
    outline: none;
    width: 26.938rem;
    height: 2.313rem;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14PX;
    font-weight: 400;
    border: 1px solid var(--color-border);
}
.salutation-and-name{
display: flex;
gap: 0.75rem;
    select{width: 7.313rem;font-weight: 400;font-size: 14px;border: 1px solid var(--color-border);border-radius: 4px;padding: 8px 12px;font-size: 14px;}
    select:focus{outline:1px solid var(--color-accent);}
}
.shippins-same-address-verification{

    width: 50%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1%;
p{padding-top: 0.98rem;font-weight: 400;font-size: 14px;}
}


.shippins-same-address-verification input{
    transform: scale(1.1);
accent-color: var(--color-accent);
}

.new-customer-form-remarks-div{
    
    label{
 display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding-bottom: 5%;
    }
    textarea{
        width: 25rem;
        padding: 8px 12px 64px 12px;
        outline: none;
        resize: none;
        border: 1px solid var(--color-border);
        border-radius: 4px;
    }
}
.new-customer-buttons-cont{
    border-top: 1px solid var(--color-border);
    width: 100%;
    padding: 16px 32px;
    position: fixed;
    top: 85%;
    background-color: var(--whitebg);
    left: 14.1%;
}
.new-customer-buttons-cont button{
padding: 8px 12px;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
border: none;
}
.new-customer-buttons-cont button:first-child{background-color: var(--color-accent);color: white;}
.new-customer-buttons-cont button:last-child{background-color: transparent;color: var(--color-black);border: 1px solid var(--color-border);margin-left: 1rem;}
.Cancel-button-popup-container,.gstfetchuserDisplay-container{
    width: 100%;
    height: 103vh;
    background-color: rgba(0, 0, 0, 0.336);
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 11;
}
.cancel-button-div{
      animation: cancelButtonBoxAni 0.5s ease-in-out forwards;

    width: 28.875rem;
    padding: 40px;
    background-color: var(--whitebg);
    position: absolute;
    left: 33.563rem;
    top: 7.438rem;
    border-radius: 10px;
    border: 1px solid var(--color-border);
}
@keyframes cancelButtonBoxAni {
   from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
.cancel-btn-headder-msg{
    display: flex;
    gap: 0.625rem;
    align-items: center;
}
.cancel-btn-headder-msg h3{
    font-weight: 600;
    font-size: 24px;
    padding-top: 2%;
    color: var(--color-warning);
}
.cancel-btn-headder-msg-cont{display: flex;flex-direction: column;gap: 1rem;}
.cancel-btn-headder-msg-cont p{font-size: 14px;font-weight: 500;}
.cancel-button-action-buttons{
    display:flex;
    justify-content: start;
    gap: 1rem;

}
.cancel-button-action-buttons button{
    padding: 8px 24px;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
border: none;
}
.cancel-button-action-buttons button:first-child{background-color: var(--color-accent);color: white;}
.cancel-button-action-buttons button:last-child{background-color: transparent;color: var(--color-black);border: 1px solid var(--color-border);margin-left: 1rem;}

.gstfetch-display-box {
  width: 44.188rem;
  height: 42.875rem;
  overflow-y: auto;        
  overflow-x: hidden;      
  padding: 2.5rem;
  background-color: var(--whitebg);
  position: absolute;
  left: 27.938rem;
  top: 2.125rem;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  animation: gstfetchBoxAnimation 0.6s forwards ease-in-out;
}
@keyframes gstfetchBoxAnimation{
    from{
        opacity: 0;
        transform: translatey(-100%);
    }
     to{
        opacity: 1;
        transform: translateX(0%);
    }
}

.prefill-headder{
    font-weight: 600;
    font-size: 16px;
}
.gst-prefill-main-form{
    padding-top: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.gst-prefill-main-form input{
    border: 1px solid var(--color-border);
    padding: 8px 12px;
    height: 2.413rem;
    outline: none;
    border-radius: 4px;
     font-weight: 400;
    font-size: 14px;
}
.gst-prefill-main-form input::placeholder{
    font-weight: 400;
    font-size: 14px;
}

.gst-form-label{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    font-weight: 600;
    font-size: 16px;
}
.company-name{
width: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.company-name .gst-form-label{
    width: 18.594rem;
}
.fetch-box-buttons-container button{
    padding: 8px 24px;
border-radius: 4px;
font-size: 14px;
font-weight: 500;
border: none;
}
.fetch-box-buttons-container button:first-child{background-color: var(--color-accent);color: white;}
.fetch-box-buttons-container button:last-child{background-color: transparent;color: var(--color-black);border: 1px solid var(--color-border);margin-left: 1rem;}

 .available-address-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}

.available-address-box {
  padding: 20px 20px 20px 20px;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--whitebg);
  width: 18rem;
  /* height: 11.75rem; */
}


.address-radio-wrapper {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
  cursor: pointer;
}
.available-address-box.selected {
  background-color: var(--color-border);
}
.address-radio-wrapper input[type="radio"] {
  margin-top: 4px;
  accent-color: var(--color-accent); 
}

.address-content {
  display: flex;
  flex-direction: column;
}

.office-label {
  font-size: 0.75rem;
padding-top: 6%;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.office-name {
  font-weight: 600;
  margin: 0.25rem 0;
  font-size: 0.95rem;
}

.office-address {
  font-size: 0.85rem;
  color: #333;
  line-height: 1.4;
}
